* {
  font-family: monospace;
  box-sizing: border-box; /* To make sure padding and margin behaves correctly */
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6em;
  background-color: #f4f4f4;
  color: #333;
  max-width: 500px;
  margin: auto; /* Center horizontally */
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type=email], 
input[type=password] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0,.075);
  outline: none;
  border: 1px solid #ccc;
  transition: border-color.3s ease;
}

input[type=email]:focus,  
input[type=password]:focus{
  border-color: #aaa;
}

button[type=submit]{
  cursor: pointer;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border:none;
  border-radius: 5px;
}

button[type=submit]:hover {
  opacity:.8;
  background-color: rgb(209, 250, 113);
  font-family: monospace;
}